.ui-resetpassword-con {
	width: 460px;
	margin: 10% auto;
	font-family:"PingFang SC",Georgia,Serif;
	color: #878787;
} 
.ui-resetpassword-con .h3 {
	font-size: 42px;
	text-align: center;
	margin-bottom: 37px;
	color: #4d4d4d;
	font-weight: medium;
}
.ui-resetpassword-con .step-con {
	display: inline-block;
	font-size: 20px;
}
.ui-resetpassword-con .step-con .number{
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 14px;
	border-radius: 50%;
	border: 1px solid #878787;
	color: #878787;
}
.ui-resetpassword-con .isactive {color: #1874CD;}
.ui-resetpassword-con .isactive .number{border-color:#1874CD;color: #1874CD;}
.ui-resetpassword-con input {
	width: 100%;
	border:1px solid #878787;
	border-radius: 4px;
	height: 40px;
	text-indent: 1em;
	margin: 20px 0;
	color: #878787;
}
.ui-resetpassword-con button{
	color: white;
	height: 40px;
	border-radius: 4px;
	background-color: #c1c1c1;
	cursor: pointer;
	width: 100%;
}
.ui-resetpassword-con .secondstep {
	display: none;
	line-height: 30px;
	text-align: center;
	margin-top: 30px;
	font-size: 14px;
}
.ui-resetpassword-con .resetaccount{
	font-size: 32px;
	color: #0080fc;
	margin: 14px 0;
}
.passworderror {
	color: red;
	display: none;
	margin-bottom: 4px;
}