.ui-resetpassword-con {
	width: 300px;
	margin: 10% auto;
} 
.ui-resetpassword-con h3 {
	font-size: 22px;
	text-align: center;
	margin-bottom: 10px;
}
.ui-resetpassword-con .step-con {
	display: inline-block;
}
.ui-resetpassword-con .step-con .number{
	display: inline-block;
	width: 14px;
	height: 14px;
	text-align: center;
	line-height: 14px;
	border-radius: 50%;
	border: 1px solid #666;
	color: #666;
}
.ui-resetpassword-con .isactive {color: blue;}
.ui-resetpassword-con .isactive .number{border-color:blue;color: blue;}
.ui-resetpassword-con input {
	width: 100%;
	border:1px solid #666;
	border-radius: 4px;
	height: 30px;
	text-indent: 1em;
	margin: 14px 0;
}
.ui-resetpassword-con button{
	color: white;
	height: 30px;
	border-radius: 4px;
	background-color: #C5C1AA;
	cursor: pointer;
	width: 100%;
}
.ui-resetpassword-con .secondstep {
	display: none;
	line-height: 30px;
	text-align: center;
	margin-top: 26px;
}
.ui-resetpassword-con .resetaccount{
	font-size: 20px;
	color: black;
}
.passworderror {
	color: red;
	display: none;
	margin-bottom: 4px;
}