<div class="ui-resetpassword-con">
   <div class="h3">重置密码</div>
   <div class="step-con isactive">
   	    <div class="number">1</div>
   	    <span>填写账号</span>
   </div>
   <div class="step-con">
   	    <div class="number">2</div>
   	    <span>>获取密码重置链接</span>
   </div>
   <div class="step-con">
   	    <div class="number">3</div>
   	    <span>>设置新密码</span>
   </div>
   <input data-bind="account"  data-event="keyup>hideError" type="text" placeholder="用户名/邮箱" class="firststep" {if this.thirdstep}style="display: none"{/if}/>
   <div {if !this.thirdstep}style="display: none"{/if}>
	   <input data-bind="newpassword" type="password" placeholder="新密码" data-event="keyup>hideError"/>
	   <input data-bind="confirmpassword" type="password" placeholder="确认密码" data-event="keyup>hideError"/>
   </div>
   <div class="passworderror"></div>
   <button data-event="confirmclick">确定</button>
   <div class="secondstep">
   	    <p>密码重置链接已发送</p>
   	    <p class="resetaccount"></p>
   	    <p>请进入邮箱点击链接</p>
   </div>
</div>